@import "../../styles/tokens.scss";
.personCard {
  --maxWidth: 192px;

  //Set the media query up top so we only need to adjust the variable controlling the width of the personcard container
  @media (max-width: 1100px) or (max-height: 900px) {
    --maxWidth: 128px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: var(--spacing-s);
  max-width: var(--maxWidth);

  .photo {
    width: var(--maxWidth);
    height: auto;
    object-fit: cover;
    margin-left: auto;
    transition: filter ease 200ms;
    filter: saturate(0);

    &:hover {
      filter: saturate(1);
    }


  }
  .textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 var(--spacing-s);

    .name {
      font-size: var(--font-xxs);
      font-weight: 400;
      text-align: end;
      width: 100%;
    }

    .title,
    .business {
      font-size: var(--font-3xs);
      font-weight: 400;
      text-align: end;
      width: 100%;
    }
  }
}
