// MARK: - Button
button {
  background-color: var(--white);
  border: none;
  transition: color 0.15s ease-in-out;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  color: var(--gray-1);
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;

  @media only screen and (max-width: 750px) {
    font-size: 1.5rem;
  }
&:hover {
  color: var(--white);
  
}
  &:before {
    content: "";
    position: absolute;
    display: inline-block;
    right: 0;
    background-color: var(--gray-1);
    top: 0;
    height: 100%;
    transition: max-height 0.2s ease, width 0.25s, left 0.2s, border-radius 0.2s;
    width: 100%;
    max-height: 0px;
    z-index: -1;
  }

  &:hover:before {
    max-height: 100%;
    top: initial;
    bottom: 0;
    
  }

  &.active {
    &:hover {
      cursor: default;
    }
    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      max-height: 100%;
      z-index: -1;
    }
  }
}
// MARK: - Link a-tag
a {
  border: none;
  transition: color 0.15s ease-in-out;
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: var(--font-3xs);
  
  &:hover {
    svg {
      mix-blend-mode: unset !important;
  
      }
  
  }

  &:hover:after {
    mix-blend-mode: exclusion;


  }
  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    right: 0;
    background-color: var(--white);
    bottom: 0;
    height: 100%;
    width: 100%;
    max-height: 2px;
  }
  &:before {
    content: "";
    position: absolute;
    display: inline-block;
    right: 0;
    background-color: #ffffff;
    top: 0;
    height: 100%;
    transition: max-height 0.2s ease, width 0.25s, left 0.2s, border-radius 0.2s;
    width: 100%;
    max-height: 0px;
    mix-blend-mode: exclusion;
  }
 
  &:hover:before {
    max-height: 100%;
    top: initial;
    bottom: 0;
    
  }

  &.active {
    &:hover {
      color: black;
      cursor: default;
      
    }
    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      max-height: 100%;
      z-index: -1;
    }
  }
}
