@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap");
@font-face {
  font-family: "FuturaClassic";
  src: url("../../public/fonts/FuturaClassic.ttf") format("truetype");
  /* Optionally, you can specify font-weight and font-style */
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

:root {
  --color-1: #4b65c6;
  --color-2: #f5c163;
  --color-3: #f19a62;
  --color-4: #72cd90;
  --color-5: #645299;

  --z-index-1: 1;
--z-index-2: 10;
--z-index-3: 100;
--z-index-4: 1000;
--z-index-5: 10000;
--z-index-6: 99999;
}

html,
body,
#root {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: "Inter", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  font-family: "FuturaClassic", sans-serif;
  padding-right: 10px;
  cursor: pointer;
  pointer-events: all;
  color: black;
  text-decoration: none; /* no underline */
}
.canvas-extend {
  animation: fadeIn 1200ms forwards;
}
.view-screen {
  width: 100%;
  height: 100%;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.popping {
  opacity: 0;
  transform: translateY(100%);
  animation: popUp 0.5s ease forwards 3s;
}

@keyframes expand {
  0% {
    z-index: 0;
    transform: scale(1);
  }
  20% {
    transform: scale(1);
    z-index: 0;
  }
  45% {
    z-index: 2;
    mix-blend-mode: unset;
  }
  100% {
    transform: scale(100);
    z-index: 2;
    mix-blend-mode: unset;
  }
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  z-index: var(--z-index-6);
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);

  opacity: 0;
  transform: translateY(100%);
  animation: popUp 0.5s ease forwards 1s;
  /*Back button*/
  .color-0 {
    text-align: center;
    width: 54px;
    @media only screen and (max-width: 750px) {
      max-width: 45px;
    }

    &:before {
      background: #ffffff;
      transition: max-height 0.2s ease, width 0.2s, left 0.7s, border-radius 4s;
      mix-blend-mode: color;
    }
  }
  .color-1 {
    &:before {
      background: var(--color-1);
    }
  }
  .color-2 {
    &:before {
      background: var(--color-2);
    }
  }
  .color-3 {
    &:before {
      background: var(--color-3);
    }
  }
  .color-4 {
    &:before {
      background: var(--color-4);
    }
  }
  .color-5 {
    &:before {
      background: var(--color-5);
    }
  }
  a {
    flex: 1;
    transition: color 0.15s ease-in-out;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
    display: inline-block;
    position: relative;

    /*This is when the blob expands after clicking the link*/
    &.selected {
      &:before {
        border-radius: 9999px;
        animation: expand 1s ease-in-out forwards 0.2s;
        height: 54px;
        width: 54px;
        left: 0%;
        bottom: 0%;
        max-height: 100%;
        margin: 0 auto;
        @media only screen and (max-width: 750px) {
          width: 45px;
          height: 45px;
        }
      }
    }

    @media only screen and (max-width: 750px) {
      font-size: 1.5rem;
    }

    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      right: 0;
      top: 0;
      height: 100%;
      transition: max-height 0.2s ease, width 0.25s, left 0.2s, border-radius 0.2s;
      width: 100%;
      max-height: 0px;
      mix-blend-mode: hard-light;
    }
    &:hover::before {
      max-height: 100%;
      top: initial;
      bottom: 0;
    }

    &.active {
      &:hover {
        color: black;
        cursor: default;
      }
      &:before {
        content: "";
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        max-height: 100%;
        z-index: -1;
      }
    }
  }
}

.draggable-scroll-container{
  height: 100%;

}

.loading-component {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 1s ease forwards 2s;
  &.color-1 {
    background-color: var(--color-1);
  }
  &.color-2 {
    background-color: var(--color-2);
  }
  &.color-3 {
    background-color: var(--color-3);
  }
  &.color-4 {
    background-color: var(--color-4);
  }
  &.color-5 {
    background-color: var(--color-5);
  }

  .overlay {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    mix-blend-mode: hard-light;
    &.color-1 {
      background-color: var(--color-1);
    }
    &.color-2 {
      background-color: var(--color-2);
    }
    &.color-3 {
      background-color: var(--color-3);
    }
    &.color-4 {
      background-color: var(--color-4);
    }
    &.color-5 {
      background-color: var(--color-5);
    }
  }

  .figures-inner {
    display: flex;
    gap: 1.5rem;
    animation: fadeIn 1s ease forwards;

    @media only screen and (max-width: 475px) {
      gap: 1rem;
    }
    figure {
      height: 126px;
      width: 126px;
      margin: 0;

      @media only screen and (max-width: 750px) {
        height: 64px;
        width: 64px;
      }
      @media only screen and (max-width: 475px) {
        height: 48px;
        width: 48px;
      }
    }
    .cube {
      background-image: url("../../public/img/logo/Cube.svg");
      background-size: cover;
      animation: spring-spin 6s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
      &.selected {
        background-image: url("../../public/img/logo/Cube_outline.svg");
      }
    }
    .circle {
      background-image: url("../../public/img/logo/Circle.svg");
      background-size: cover;
      transform-origin: 100% 180%;
      animation: compress-and-bounce 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite 0.25s;
      &.selected {
        background-image: url("../../public/img/logo/Circle_outline.svg");
      }
    }
    .triangle {
      background-image: url("../../public/img/logo/Triangle.svg");
      background-size: cover;
      transform-style: preserve-3d;
      animation: rotate-spring 3s ease-in-out infinite 0.5s;
      &.selected {
        background-image: url("../../public/img/logo/Triangle_outline.svg");
      }
    }
    .cross {
      background-image: url("../../public/img/logo/Cross.svg");
      background-size: cover;
      animation: continuous-rotation 5s linear infinite 1s;
      &.selected {
        background-image: url("../../public/img/logo/Cross_outline.svg");
      }
    }
    .donut {
      background-image: url("../../public/img/logo/Donut.svg");
      background-size: cover;
      &.selected {
        background-image: url("../../public/img/logo/Donut_outline.svg");
      }
      animation: shrink-rotate-expand 5s
        linear(
          0 0%,
          0 1.8%,
          0.01 3.6%,
          0.03 6.35%,
          0.07 9.1%,
          0.13 11.4%,
          0.19 13.4%,
          0.27 15%,
          0.34 16.1%,
          0.54 18.35%,
          0.66 20.6%,
          0.72 22.4%,
          0.77 24.6%,
          0.81 27.3%,
          0.85 30.4%,
          0.88 35.1%,
          0.92 40.6%,
          0.94 47.2%,
          0.96 55%,
          0.98 64%,
          0.99 74.4%,
          1 86.4%,
          1 100%
        )
        infinite 1.25s;
      transform-origin: center bottom;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes popUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spring-spin {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
}

@keyframes compress-and-bounce {
  0% {
    transform: translateY(0) scaleY(1);
  }
  50% {
    transform: translateY(-50px) scaleY(0.5);
  }
  70% {
    transform: translateY(-30px) scaleY(0.7);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

@keyframes rotate-spring {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes continuous-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shrink-rotate-expand {
  0% {
    transform-origin: bottom center;
    transform: scale(1) translateY(0) translateX(0);
  }

  25% {
    transform-origin: bottom center;
    transform: scale(0.5) translateY(0) translateX(0);
  }
  50% {
    transform-origin: top center;
    transform: scale(1) translateY(0) translateX(0);
  }
  75% {
    transform-origin: top center;
    transform: scale(0.5) translateY(0) translateX(0);
  }
  100% {
    transform-origin: bottom center;
    transform: scale(1) translateY(0) translateX(0);
  }
}
