.photography-container {
  background-color: var(--color-4-dark);
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  overflow: hidden; /* Prevents vertical scrolling */
}
.decorative-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: var(--color-4);
  filter: blur(30px);
}

.photo-deck-grid-list {
  display: flex;
  overflow-x: auto; /* Enables horizontal scrolling */
  overflow-y: hidden; /* Prevents vertical scrolling */
  scroll-snap-type: x mandatory; /* Smooth snapping between images */
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth; /* Smooth scroll transition */

  .photo-deck-grid-item {
    position: relative;
    overflow: hidden;
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center; /* Ensures each image snaps into view */

    h1 {
      position: absolute;
      left: 1rem;
      top: 1rem;
    }

    .scroll-left {
      position: absolute;
      left: 1rem;
      top: 10rem;
    }
    .scroll-right {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }
}

.deck-container {
  @media (max-width: 768px) {
    --deck-size: 300px;
    --deck-img-size: 270px;
  }
  @media (min-width: 769px) {
    --deck-size: 500px;
    --deck-img-size: 470px;
  }
  width: var(--deck-size);
  height: var(--deck-size);
  position: relative;
  transition: transform 300ms;
  pointer-events: none; // Prevents pointer events on the deck, top-card sets pointer events to all, so only that one is clickable

  .top-card {
    pointer-events: all;
  }
  .deck {
    position: absolute;
    width: var(--deck-size);
    height: var(--deck-size);
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    .top-card {
      transform: perspective(750px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        scale(1) translateY(-20px) !important;
    }
  }
  .is-down {
    cursor: grabbing;
    .deck-inner {
      transform: perspective(750px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        scale(1.4) !important;
      .deck-inner-image-container img {
        //filter: invert(0);
      }
    }
  }

  .deck-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    touch-action: none;
    width: 100vw;
    height: 100vh;
    transition: transform 300ms;

    padding: 24px;
    max-width: var(--deck-size);
    max-height: var(--deck-size);
    will-change: transform;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 6px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
      0 10px 10px -10px rgba(50, 50, 73, 0.3);
    overflow: hidden; /* Ensures rounded corners apply */
    .deck-inner-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border: 1px solid rgb(214, 214, 214);
      border-radius: 6px;
      box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
    }
    .deck-inner-image-container img {
      display: block;
      position: relative;
      max-width: var(--deck-img-size);
      max-height: var(--deck-img-size);
      width: auto;
      height: auto;
      //filter: invert(1);
      z-index: -1;
      transition: filter 300ms;
      user-select: none;
      pointer-events: none;
      outline: 1px solid rgb(112, 112, 112);
      outline-offset: -1px;
      border-radius: 5px;
    }
  }
}
