
@import "../../styles/ixda.scss";

.baseLayout {
  @include ixda-colors;

  .baseLayoutContainer {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - calc(var(--spacing-xxl) * 2));
    height: calc(100vh - calc(var(--spacing-xxl) * 2));
    display: flex;
    scroll-snap-align: center; /* Ensures each image snaps into view */
    padding: var(--spacing-xxl);
    flex-direction: column;
    gap: var(--spacing-l);
    max-width: 2560px;
    margin: 0 auto;

    @media (max-width: 700px) {
      scroll-snap-align: unset; /* Ensures each image snaps into view */
      overflow: unset;

      height: fit-content;
    }

    .header {
      display: flex;
      width: 100%;
      flex-direction: column;

      .title {
        font-size: var(--font-xxl);
        font-weight: 500;
        line-height: calc(var(--font-xxl) * 1.1);
      mix-blend-mode: hard-light;

      }
    }
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .subtitle {
        font-size: var(--font-s);
        font-weight: 400;
        mix-blend-mode: hard-light;
      }
      .logoContainer {
        .ixdaTitle {
          font-size: var(--font-s);
          font-weight: 400;
        }
        .logoLink {
          display: flex;
          align-items: center;
          gap: var(--spacing-s);
          padding-left: var(--spacing-xs);
          &:after {
            max-height: 0;
          }
          .logo {
            width: 64px;
            height: 64px;
            mix-blend-mode: hard-light;
            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .content {
      height: 100%;
    }
  }
}
